# Homework 1 - 60 points possible - Due 9/19 11:59pm

# Problem 1:  Expression warmups (20 pts: 2,2,2,2,4,2,3,3)

Compute the following quantities in the code boxes that follow each prompt.
Note that for each of these, we care about what the code *evaluates to* and not what it *prints* - so you don't need to call print() for any of these.

a) (2 pts) The square of 2022.

In [1]:
2022 * 2022 # (Alternately, 2022 ** 2)

4088484

b) (2 pts) The number of characters in the phrase "Try, try again."  (Including the whitespace and period.)

In [2]:
len("Try, try again.")

15

c) (2 pts) The square root - import the math library - of 289.

In [3]:
import math
math.sqrt(289)

17.0

d) (2 pts) A Boolean expression that is true only if both variable *a* and variable *b* are True.

In [1]:
a = True  # play with this to test
b = True  # play with this to test
# TODO your expression below
a and b

True

e) (4 pts) A Boolean expression that is true *unless* both variable *a* and variable *b* are True.

In [7]:
a=False
b=True
# TODO your expression below
not (a and b)

True

f) (2 pts) An expression that is true only if the variable balance is not negative.

In [8]:
balance = 0
# TODO your expression below
balance >= 0

True

g) (3pts) An expression that is True only if variable *balance* is in the range [0, 10000] (0 through 10000 inclusive)

In [ ]:
balance = 10
# TODO expression below
(balance >= 0 and balance <= 10000)

True

h) (3 pts) An expression that is true only if list L is empty (length 0).

In [ ]:
L = [] # An empty list
len(L) < 1 # a possibly slicker answer is "not L"

# Problem 2:  Conditional warmups (20 pts: 6,8,6)

Write a brief program for each prompt that makes use of the provided variable current_hour to determine what hour of the day it is.  current_hour can be set to any value between 0 (midnight) and 23 (11pm).

In [9]:
current_hour = 12  # change to get different outputs below

a) (6 pts) If the current hour is between 6 and 8 inclusive, print "Breakfast!".  If the current hour is between 10 and 12 inclusive, print "Brunch!"  Otherwise, print "Not breakfast :(".

In [ ]:
if (current_hour >= 6 and current_hour < 9):
  print("Breakfast!")
elif (current_hour >= 10 and current_hour <= 12):
  print("Brunch!")
else:
  print("Not breakfast :(")

Not breakfast :(

b) (8 points) If the time is equal to or after 10:00pm (22), print "In two hours, it will be tomorrow." Otherwise, print "In two hours, it will be " followed by the hour two hours later using non-military time (so between 1 and 12).  (For example, if current_hour were 16, write "In two hours, it will be 6.") Be careful about how you handle 10am, which should print 12.

In [ ]:
if current_hour >= 22:
  print("In two hours, it will be tomorrow.")
elif current_hour >= 11:
  print("In two hours, it will be " + str(current_hour + 2 - 12))
else:
  print("In two hours, it will be " + str(current_hour+2))

In two hours, it will be 9

c) (6 points)  Given another variable "deadline", print "X hours until the deadline" if current_hour is before or equal to the deadline and "X hours after the deadline" if current_hour is larger than the deadline, where X is the correct amount.  For example, if current_hour is 7 and deadline is 14, print "7 hours until the deadline."

In [ ]:
deadline = 14
if deadline <= current_hour:
    print(str(deadline - current_hour) + " hours until the deadline.")
else:
    print(str(current_hour - deadline) + " hours after the deadline.")

# Problem 3: Lists (20 pts: 2,2,3,4,3,3)

Some gas prices around the Boston area are 4.99, 5.10, 5.40, and 4.80.

a, 2pts) Create a variable named gas_prices that stores all four values as a list.

In [2]:
gas_prices = [4.99, 5.10, 5.40, 4.80]

b, 2pts) We discovered a new gas station.  Call the list method
 append() to add the value 4.75 to the end of the list.

In [3]:
gas_prices.append(4.75)
gas_prices

[4.99, 5.1, 5.4, 4.8, 4.75]

c, 3pts) Call the sort() method on the prices, then write an expression that returns the first (zeroth) price in the list.

In [4]:
gas_prices.sort()
gas_prices[0]

4.75

d, 4pts) Code an expression that returns the final element in the list.  Assume you don't know the length of the list - call len() to get this value, or use a method that doesn't rely on knowing the length of the list ahead of time.

In [11]:
gas_prices[len(gas_prices)-1] # Alternately, gas_prices[-1]

5.4

e, 3pts) Look online for a list method that removes the first (zeroth) item, whatever its value, and returns that value. Do this to gas_prices.

In [5]:
gas_prices.pop(0)

4.75

f, 3 pts) Here is a list-of-lists "prices" containing gas prices by the gallon in the first list, and milk prices by the gallon in the second list.  Write the expression that accesses the first (zeroth) milk price.

In [2]:
prices = [[4.99, 5.10, 5.40, 4.80], # gas prices
          [2.90, 3.04, 3.32, 3.55]] # milk prices

In [3]:
prices[1][0]

2.9

g, 3pts) Use the function max() to find the largest *milk* price.  (Index just once into prices, to get the milk list.)

In [6]:
max(prices[1])

3.55